["full-border.yazi/main.lua"]
    type = "file"
    url = "{{ .external_resources.pins.yazi_full_border.url }}"
    checksum.sha256 = "{{ .external_resources.pins.yazi_full_border.sha256 }}"
["git.yazi/main.lua"]
    type = "file"
    url = "{{ .external_resources.pins.yazi_git_main.url }}"
    checksum.sha256 = "{{ .external_resources.pins.yazi_git_main.sha256 }}"
["git.yazi/types.lua"]
    type = "file"
    url = "{{ .external_resources.pins.yazi_git_types.url }}"
    checksum.sha256 = "{{ .external_resources.pins.yazi_git_types.sha256 }}"
["mediainfo.yazi"]
    type = "archive"
    url = "{{ .external_resources.pins.yazi_mediainfo.url }}"
    stripComponents = 1
    include = ["*.lua"]
    checksum.sha256 = "{{ .external_resources.pins.yazi_mediainfo.sha256 }}"
["ouch.yazi/main.lua"]
    type = "file"
    url = "{{ .external_resources.pins.yazi_ouch.url }}"
    checksum.sha256 = "{{ .external_resources.pins.yazi_ouch.sha256 }}"
["piper.yazi/main.lua"]
    type = "file"
    url = "{{ .external_resources.pins.yazi_piper.url }}"
    checksum.sha256 = "{{ .external_resources.pins.yazi_piper.sha256 }}"
["smart-enter.yazi/main.lua"]
    type = "file"
    url = "{{ .external_resources.pins.yazi_smart_enter.url }}"
    checksum.sha256 = "{{ .external_resources.pins.yazi_smart_enter.sha256 }}"
["torrent-preview.yazi/main.lua"]
    type = "file"
    url = "{{ .external_resources.pins.yazi_torrent_preview.url }}"
    checksum.sha256 = "{{ .external_resources.pins.yazi_torrent_preview.sha256 }}"
["vcs-files.yazi/main.lua"]
    type = "file"
    url = "{{ .external_resources.pins.yazi_vcs_files.url }}"
    checksum.sha256 = "{{ .external_resources.pins.yazi_vcs_files.sha256 }}"
["yatline.yazi/main.lua"]
    type = "file"
    url = "{{ .external_resources.pins.yazi_yatline.url }}"
    checksum.sha256 = "{{ .external_resources.pins.yazi_yatline.sha256 }}"
{{ if or (eq .colorscheme "catppuccin-frappe") (eq .colorscheme "catppuccin-latte") (eq .colorscheme "catppuccin-macchiato") (eq .colorscheme "catppuccin-mocha") }}
["yatline-catppuccin.yazi/main.lua"]
    type = "file"
    url = "{{ .external_resources.pins.yazi_yatline_catppuccin.url }}"
    checksum.sha256 = "{{ .external_resources.pins.yazi_yatline_catppuccin.sha256 }}"
{{ else if eq .colorscheme "gruvbox-dark" }}
["yatline-gruvbox.yazi/main.lua"]
    type = "file"
    url = "{{ .external_resources.pins.yazi_yatline_gruvbox.url }}"
    checksum.sha256 = "{{ .external_resources.pins.yazi_yatline_gruvbox.sha256 }}"
{{ end }}
