["full-border.yazi/main.lua"]
    type = "file"
    url = "https://raw.githubusercontent.com/yazi-rs/plugins/main/full-border.yazi/main.lua"
    checksum.sha256 = "5bd55bac3f6639706f58afe295e883754d519c0c6680ba42921608ea5c53d07e"
["git.yazi/main.lua"]
    type = "file"
    url = "https://raw.githubusercontent.com/yazi-rs/plugins/main/git.yazi/main.lua"
    checksum.sha256 = "ea45f27a3a4ffbfb687b77e19a8a6701889883d1091316f94d17c1bf8ee5668b"
["git.yazi/types.lua"]
    type = "file"
    url = "https://raw.githubusercontent.com/yazi-rs/plugins/main/git.yazi/types.lua"
    checksum.sha256 = "16c54022dd327c35f533534f0b6995d800965e96d76f2e610b8b2fca0e5b4549"
["mediainfo.yazi"]
    type = "archive"
    url = "https://github.com/boydaihungst/mediainfo.yazi/archive/refs/heads/master.zip"
    stripComponents = 1
    include = ["*.lua"]
    checksum.sha256 = "1b188d6fa27797b0f3578e9d2cee820a4cea455e527d9bcc13b196dd05ee17a3"
["ouch.yazi/main.lua"]
    type = "file"
    url = "https://raw.githubusercontent.com/ndtoan96/ouch.yazi/main/main.lua"
    checksum.sha256 = "76bb06730693bcb0d54c9ebd72ad4d293a38fe4caf99ad224741be3e3f8c2dda"
["piper.yazi/main.lua"]
    type = "file"
    url = "https://raw.githubusercontent.com/yazi-rs/plugins/main/piper.yazi/main.lua"
    checksum.sha256 = "66758cc75292be529491bace295636ef9817ea1a7dcdeed320f1bae5e1865dc0"
["smart-enter.yazi/main.lua"]
    type = "file"
    url = "https://raw.githubusercontent.com/yazi-rs/plugins/main/smart-enter.yazi/main.lua"
    checksum.sha256 = "5def5b84dd01cd5bb59357a3162f77dfc38be5433e36bbb9df6260917f786e5a"
["torrent-preview.yazi/main.lua"]
    type = "file"
    url = "https://raw.githubusercontent.com/kirasok/torrent-preview.yazi/main/main.lua"
    checksum.sha256 = "1b151709d364500ebbc71fae719b714748d55201d1171953646c9ffb14d73e89"
["vcs-files.yazi/main.lua"]
    type = "file"
    url = "https://raw.githubusercontent.com/yazi-rs/plugins/main/vcs-files.yazi/main.lua"
    checksum.sha256 = "d1d2fa8a8acdc96dc1253c094dce0de1e30a48ae246df6906f5a948add5285a0"
["yatline.yazi/main.lua"]
    type = "file"
    url = "https://raw.githubusercontent.com/imsi32/yatline.yazi/main/main.lua"
    checksum.sha256 = "bd62cdb273e070deeb4e7f378c8c1f793436c8f74bb04979584677b9b2dfa4da"
{{ if or (eq .colorscheme "catppuccin-frappe") (eq .colorscheme "catppuccin-latte") (eq .colorscheme "catppuccin-macchiato") (eq .colorscheme "catppuccin-mocha") }}
["yatline-catppuccin.yazi/main.lua"]
    type = "file"
    url = "https://raw.githubusercontent.com/imsi32/yatline-catppuccin.yazi/main/main.lua"
    checksum.sha256 = "1a17e0e7593d5ceee5008047ca2688778593b7dc014ebf98524e37c172fc9739"
{{ else if eq .colorscheme "gruvbox-dark" }}
["yatline-gruvbox.yazi/main.lua"]
    type = "file"
    url = "https://raw.githubusercontent.com/imsi32/yatline-gruvbox.yazi/main/main.lua"
    checksum.sha256 = "45443d8a04fc5a43672741862e490d5fac39df073467ce13eaf229a99ff64cd6"
{{ end }}
