{{- $colorscheme_choices := list "catppuccin-latte" "catppuccin-frappe" "catppuccin-macchiato" "catppuccin-mocha" "gruvbox-dark" -}}
{{- $colorscheme := promptChoiceOnce . "colorscheme" "colorscheme to use" $colorscheme_choices -}}

{{- $provider_choices := list "litellm" "router-maestro" -}}
{{- $codex_provider := promptChoiceOnce . "codex_provider" "LLM provider for Codex" $provider_choices -}}
{{- $claude_code_provider := promptChoiceOnce . "claude_code_provider" "LLM provider for Claude Code" $provider_choices -}}

{{- $password_manager_choices := list "1password" "bitwarden" -}}
{{- $password_manager := promptChoiceOnce . "password_manager" "password manager in use" $password_manager_choices -}}

{{- $git_username := promptStringOnce . "git_username" "git user name" -}}
{{- $git_useremail := promptStringOnce . "git_useremail" "git email address" -}}
{{- $git_signingkey := promptStringOnce . "git_signingkey" "git signing key" -}}


{{ if eq $password_manager "bitwarden" -}}
[bitwarden]
  unlock = "auto"

{{ end -}}
[data]
  colorscheme = {{ $colorscheme | quote }}
  password_manager = {{ $password_manager | quote }}
  git_username = {{ $git_username | quote }}
  git_useremail = {{ $git_useremail | quote }}
  codex_provider = {{ $codex_provider | quote }}
  claude_code_provider = {{ $claude_code_provider | quote }}
  git_signingkey = {{ $git_signingkey | quote }}

[diff]
  pager = "delta"
