[user]
  name = {{ .git_username | quote }}
  email = {{ .git_useremail | quote }}
  signingkey = {{ .git_signingkey | quote }} # use the "Git Commit Signing Key"

[core]
  sshCommand = C:/Windows/System32/OpenSSH/ssh.exe # use the ssh.exe shipped with Windows to make use of 1Password's ssh agent
  pager = delta

[diff]
  colorMoved = default

[interactive]
  diffFilter = delta --color-only

[delta]
  line-numbers = true
  side-by-side = true
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
{{ if eq .colorscheme "gruvbox-dark" }}
  features = gruvmax-fang
{{ end}}
{{ if hasPrefix "catppuccin-" .colorscheme }}
  features = {{ .colorscheme }}
{{ end }}

[merge]
  conflictstyle = zdiff3

[alias]
  br = "branch"
  co = "checkout"
  cp = "cherry-pick"
  rb = "rebase"
  st = "status"
  sw = "switch"
  df = "diff"

[log]
  date = "format:%Y-%m-%d %H:%M:%S %z"

[gpg]
  format = ssh

{{ if eq .password_manager "bitwarden" }}
[gpg "ssh"]
  program = "C:/Windows/System32/OpenSSH/ssh-keygen.exe"
{{ end }}
{{ if eq .password_manager "1password" }}
[gpg "ssh"]
  program = "{{ env "LOCALAPPDATA" | replace "\\" "/" }}/Microsoft/WindowsApps/op-ssh-sign.exe"
{{ end }}

[commit]
  gpgsign = true

[include]
	path = "{{ .chezmoi.homeDir }}/.config/delta/catppuccin.gitconfig"
