model = "gpt-5.5"
model_provider = "{{ .codex_provider }}"
model_context_window = 353346
model_reasoning_effort = "xhigh"
suppress_unstable_features_warning = true
approvals_reviewer = "guardian_subagent"

[model_providers.agent-maestro]
name = "Agent Maestro"
base_url = "http://localhost:23333/api/openai/v1/"
wire_api = "responses"
stream_idle_timeout_ms = 600000

[model_providers.router-maestro]
name = "Router Maestro"
base_url = "https://router-maestro.ningw.net/api/openai/v1/"
env_key = "CODEX_API_KEY"
wire_api = "responses"
stream_idle_timeout_ms = 600000

[model_providers.litellm]
name = "LiteLLM"
base_url = "https://litellm.ningw.net/openai/v1/"
env_key = "CODEX_API_KEY"
wire_api = "responses"
stream_idle_timeout_ms = 600000

[projects.'\\?\C:\Users\ningw\GitHub\Hypersonic']
trust_level = "trusted"

[projects.'\\?\C:\Users\ningw\.local\share\chezmoi']
trust_level = "trusted"

[tui]
status_line = ["model-with-reasoning", "current-dir", "project-root", "git-branch", "context-used"]

[tui.model_availability_nux]
"gpt-5.5" = 1

[notice.model_migrations]
"gpt-5.3-codex" = "gpt-5.4"

[windows]
sandbox = "elevated"

[features]
goals = true

[mcp_servers.brave-search]
url = "https://brave-search-mcp.ningw.net/mcp"

[mcp_servers.context7]
url = "https://mcp.context7.com/mcp"
env_http_headers = { CONTEXT7_API_KEY = "CONTEXT7_API_KEY" }

[marketplaces.openai-bundled]
last_updated = "2026-05-09T00:53:03Z"
source_type = "local"
source = '\\?\C:\Users\ningw\.codex\.tmp\bundled-marketplaces\openai-bundled'

[plugins."browser-use@openai-bundled"]
enabled = true

