{{ if eq .colorscheme "gruvbox-dark" }}
["themes/gruvbox-dark.toml"]
    type = "file"
    url = "{{ .external_resources.pins.alacritty_gruvbox_dark.url }}"
    checksum.sha256 = "{{ .external_resources.pins.alacritty_gruvbox_dark.sha256 }}"
{{ else if eq .colorscheme "everforest-dark" }}
["themes/everforest-dark.toml"]
    type = "file"
    url = "{{ .external_resources.pins.alacritty_everforest_dark_medium.url }}"
    checksum.sha256 = "{{ .external_resources.pins.alacritty_everforest_dark_medium.sha256 }}"
{{ else if eq .colorscheme "catppuccin-latte" }}
["themes/catppuccin-latte.toml"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_alacritty_latte.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_alacritty_latte.sha256 }}"
{{ else if eq .colorscheme "catppuccin-frappe" }}
["themes/catppuccin-frappe.toml"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_alacritty_frappe.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_alacritty_frappe.sha256 }}"
{{ else if eq .colorscheme "catppuccin-macchiato" }}
["themes/catppuccin-macchiato.toml"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_alacritty_macchiato.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_alacritty_macchiato.sha256 }}"
{{ else if eq .colorscheme "catppuccin-mocha" }}
["themes/catppuccin-mocha.toml"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_alacritty_mocha.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_alacritty_mocha.sha256 }}"
{{ end }}
