[general]
{{ if eq .colorscheme "gruvbox-dark" }}
import = [ "themes/gruvbox-dark.toml" ]
{{ else if eq .colorscheme "catppuccin-frappe" }}
import = [ "themes/catppuccin-frappe.toml" ]
{{ end }}

[window]
dimensions = { columns = 160, lines = 40 }
padding = { x = 2, y = 2 }

[font]
normal = { family = "PragmataPro", style = "Regular" }
bold = { family = "PragmataPro", style = "Bold" }
italic = { family = "PragmataPro", style = "Italic" }
bold_italic = { family = "PragmataPro", style = "Bold Italic" }
size = 10
builtin_box_drawing = false

[selection]
save_to_clipboard = true

[terminal]
shell = { program = "pwsh" }
