{{- if hasPrefix "catppuccin" .colorscheme -}}
{{ includeTemplate (printf "eza/%s-blue.yml" .colorscheme) . }}
{{- else -}}
{{ includeTemplate (printf "eza/%s.yml" .colorscheme) . }}
{{- end }}

filenames:
  # Custom filename-based overrides
  # Cargo.toml: {icon: {glyph: 🦀}}
  flake.lock: {icon: {glyph: ""}}
extensions:
  # Custom extension-based overrides
  # rs: {filename: {foreground: Red}, icon: {glyph: 🦀}}
  md: {icon: {glyph: ""}}
