{{ if eq .colorscheme "catppuccin-latte" }}
["catppuccin-latte.json"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_glamour_latte.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_glamour_latte.sha256 }}"
{{ else if eq .colorscheme "catppuccin-frappe" }}
["catppuccin-frappe.json"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_glamour_frappe.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_glamour_frappe.sha256 }}"
{{ else if eq .colorscheme "catppuccin-macchiato" }}
["catppuccin-macchiato.json"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_glamour_macchiato.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_glamour_macchiato.sha256 }}"
{{ else if eq .colorscheme "catppuccin-mocha" }}
["catppuccin-mocha.json"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_glamour_mocha.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_glamour_mocha.sha256 }}"
{{ end }}
