{{ if hasPrefix "catppuccin-" .colorscheme -}}
style: "{{ env "LOCALAPPDATA" | replace "\\" "/" }}/glow/Config/{{ .colorscheme }}.json"
{{ else -}}
style: "auto"
{{ end -}}
mouse: true
pager: true
showLineNumbers: true
