{
  "env": {
    "ANTHROPIC_BASE_URL": "{{ .claude_code_base_url }}",
    "ANTHROPIC_MODEL": "claude-opus-4-8[1m]",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "claude-opus-4-8[1m]",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "claude-sonnet-5[1m]",
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "claude-haiku-4-5",
    "CLAUDE_CODE_USE_POWERSHELL_TOOL": "1",
    "DISABLE_TELEMETRY": "1",
    "DISABLE_AUTOUPDATER": "1",
    "DISABLE_INSTALLATION_CHECKS": "1",
    "DISABLE_NON_ESSENTIAL_MODEL_CALLS": "1",
    "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC": "1",
    "CLAUDE_CODE_NO_FLICKER": "1",
    "API_FORCE_IDLE_TIMEOUT": "0",
    "CLAUDE_CODE_DISABLE_NONSTREAMING_FALLBACK": "1",
    "API_TIMEOUT_MS": "1200000",
    "CLAUDE_STREAM_IDLE_TIMEOUT_MS": "600000"
  },
  "permissions": {
    "deny": [
      "WebSearch"
    ],
    "allow": [
      "mcp__plugin_user-mcps_brave-search",
      "mcp__plugin_user-mcps_context7",
      "mcp__plugin_user-mcps_exa",
      "mcp__plugin_user-mcps_github",
      "mcp__brave-search"
    ],
    "defaultMode": "auto"
  },
  "hooks": {
    "PreToolUse": [
      {
        "matcher": "Bash",
        "hooks": [
          {
            "type": "command",
            "command": "rtk hook claude"
          }
        ]
      },
      {
        "matcher": "AskUserQuestion",
        "hooks": [
          {
            "type": "command",
            "command": "$json = [Console]::In.ReadToEnd() | ConvertFrom-Json; Import-Module BurntToast; New-BurntToastNotification -Text 'Claude Code', 'Claude has a question for you' -AppLogo \"$HOME\\.claude\\logo.svg\"",
            "shell": "powershell",
            "timeout": 10
          }
        ]
      }
    ],
    "Notification": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "$json = [Console]::In.ReadToEnd() | ConvertFrom-Json; Import-Module BurntToast; New-BurntToastNotification -Text $json.title, $json.message -AppLogo \"$HOME\\.claude\\logo.svg\"",
            "shell": "powershell",
            "timeout": 10
          }
        ]
      }
    ]
  },
  "includeCoAuthoredBy": false,
  "statusLine": {
    "type": "command",
    "command": "python {{ .chezmoi.homeDir | replace "\\" "/" }}/.config/statusline/statusline.py claude",
    "padding": 0
  },
  "extraKnownMarketplaces": {
    "chezmoi": {
      "source": {
        "source": "directory",
        "path": "{{ .chezmoi.homeDir | replace "\\" "/" }}/.config/claude-code-chezmoi"
      }
    }
  },
  "effortLevel": "xhigh",
  "skipDangerousModePermissionPrompt": true,
  "skipAutoPermissionPrompt": true,
  "enabledPlugins": {
    "user-mcps@chezmoi": true,
    "user-skills@chezmoi": true,
    "superpowers@chezmoi": true
  },
  "enableWorkflows": true,
  "skipWorkflowUsageWarning": true
}
