// for all available options, see "impl Default for Theme" in
// https://github.com/extrawurst/gitui/blob/master/src/ui/style.rs
(
    selected_tab: Some("#fbf1c7"),          // fg0
    command_fg: Some("#fbf1c7"),            // fg0
    selection_bg: Some("#504945"),          // bg2
    selection_fg: Some("#fbf1c7"),          // fg0
    cmdbar_bg: Some("#282828"),             // bg0
    cmdbar_extra_lines_bg: Some("#282828"), // bg0
    disabled_fg: Some("#a89984"),           // fg4
    // diff_line_add
    // diff_line_delete
    // diff_file_added
    // diff_file_removed
    // diff_file_moved
    // diff_file_modified
    commit_hash: Some("#8ec07c"),           // bright aqua
    commit_time: Some("#fe8019"),           // bright orange
    commit_author: Some("#fabd2f"),         // bright yellow
    // danger_fg
    // push_gauge_bg
    // push_gauge_fg
    // tag_fg
    // branch_fg
    line_break: Some(""),                   // disable the default line break symbol
    // block_title_focused
)
