-- Pull in the wezterm API
local wezterm = require 'wezterm'

-- This will hold the configuration.
local config = wezterm.config_builder()

-- Global constants
local font_fallback_list = wezterm.font_with_fallback {
	-- 'Iosevkata Nerd Font',
	'PragmataPro',
	'Sarasa Fixed SC',
}

-- Helper functions
-- Helper to merge two tables, like nix's // operator
local function merge(a, b)
  local result = {}

  -- copy all keys from a first
  for k, v in pairs(a) do
    result[k] = v
  end

  -- update/override from b
  for k, v2 in pairs(b) do
    local v1 = result[k]
    if type(v1) == "table" and type(v2) == "table" then
      result[k] = merge(v1, v2)
    else
      result[k] = v2
    end
  end

  return result
end

-- This is where you actually apply your config choices

config.initial_cols = 160
config.initial_rows = 40

-- Launching Programs
config.default_prog = { 'pwsh.exe' }

-- Color Scheme
{{ if eq .colorscheme "catppuccin-latte" }}
config.color_scheme = 'Catppuccin Latte'
local window_frame_colors = {
  -- The overall background color of the tab bar when
  -- the window is focused
  active_titlebar_bg = '#dce0e8', -- Crust
  -- The overall background color of the tab bar when
  -- the window is not focused
  inactive_titlebar_bg = '#dce0e8', -- Crust
}
local tab_bar_colors = {
  tab_bar = {
    -- The color of the inactive tab bar edge/divider
    inactive_tab_edge = '#9ca0b0', -- Overlay 0
    -- The active tab is the one that has focus in the window
    active_tab = {
      -- The color of the background area for the tab
      bg_color = '#eff1f5', -- Base
      -- The color of the text for the tab
      fg_color = '#4c4f69', -- Text
    },

    -- Inactive tabs are the tabs that do not have focus
    inactive_tab = {
      bg_color = '#dce0e8', -- Crust
      fg_color = '#8c8fa1', -- Overlay 1
    },
    -- You can configure some alternate styling when the mouse pointer
    -- moves over inactive tabs
    inactive_tab_hover = {
      bg_color = '#eff1f5', -- Base
      fg_color = '#4c4f69', -- Text
    },

    -- The new tab button that let you create new tabs
    new_tab = {
      bg_color = '#dce0e8', -- Crust
      fg_color = '#8c8fa1', -- Overlay 1
    },

    -- You can configure some alternate styling when the mouse pointer
    -- moves over the new tab button
    new_tab_hover = {
      bg_color = '#eff1f5', -- Base
      fg_color = '#4c4f69', -- Text
    },
  },
}
{{ else if eq .colorscheme "catppuccin-frappe" }}
config.color_scheme = 'Catppuccin Frappe'
local window_frame_colors = {
  -- The overall background color of the tab bar when
  -- the window is focused
  active_titlebar_bg = '#232634', -- Crust
  -- The overall background color of the tab bar when
  -- the window is not focused
  inactive_titlebar_bg = '#232634', -- Crust
}
local tab_bar_colors = {
  tab_bar = {
    -- The color of the inactive tab bar edge/divider
    inactive_tab_edge = '#737994', -- Overlay 0
    -- The active tab is the one that has focus in the window
    active_tab = {
      -- The color of the background area for the tab
      bg_color = '#303446', -- Base
      -- The color of the text for the tab
      fg_color = '#c6d0f5', -- Text
    },

    -- Inactive tabs are the tabs that do not have focus
    inactive_tab = {
      bg_color = '#232634', -- Crust
      fg_color = '#838ba7', -- Overlay 1
    },
    -- You can configure some alternate styling when the mouse pointer
    -- moves over inactive tabs
    inactive_tab_hover = {
      bg_color = '#303446', -- Base
      fg_color = '#c6d0f5', -- Text
    },

    -- The new tab button that let you create new tabs
    new_tab = {
      bg_color = '#232634', -- Crust
      fg_color = '#838ba7', -- Overlay 1
    },

    -- You can configure some alternate styling when the mouse pointer
    -- moves over the new tab button
    new_tab_hover = {
      bg_color = '#303446', -- Base
      fg_color = '#c6d0f5', -- Text
    },
  },
}
{{ else if eq .colorscheme "catppuccin-macchiato" }}
config.color_scheme = 'Catppuccin Macchiato'
local window_frame_colors = {
  -- The overall background color of the tab bar when
  -- the window is focused
  active_titlebar_bg = '#181926', -- Crust
  -- The overall background color of the tab bar when
  -- the window is not focused
  inactive_titlebar_bg = '#181926', -- Crust
}
local tab_bar_colors = {
  tab_bar = {
    -- The color of the inactive tab bar edge/divider
    inactive_tab_edge = '#6e738d', -- Overlay 0
    -- The active tab is the one that has focus in the window
    active_tab = {
      -- The color of the background area for the tab
      bg_color = '#24273a', -- Base
      -- The color of the text for the tab
      fg_color = '#cad3f5', -- Text
    },

    -- Inactive tabs are the tabs that do not have focus
    inactive_tab = {
      bg_color = '#181926', -- Crust
      fg_color = '#8087a2', -- Overlay 1
    },
    -- You can configure some alternate styling when the mouse pointer
    -- moves over inactive tabs
    inactive_tab_hover = {
      bg_color = '#24273a', -- Base
      fg_color = '#cad3f5', -- Text
    },

    -- The new tab button that let you create new tabs
    new_tab = {
      bg_color = '#181926', -- Crust
      fg_color = '#8087a2', -- Overlay 1
    },

    -- You can configure some alternate styling when the mouse pointer
    -- moves over the new tab button
    new_tab_hover = {
      bg_color = '#24273a', -- Base
      fg_color = '#cad3f5', -- Text
    },
  },
}
{{ else if eq .colorscheme "catppuccin-mocha" }}
config.color_scheme = 'Catppuccin Mocha'
local window_frame_colors = {
  -- The overall background color of the tab bar when
  -- the window is focused
  active_titlebar_bg = '#11111b', -- Crust
  -- The overall background color of the tab bar when
  -- the window is not focused
  inactive_titlebar_bg = '#11111b', -- Crust
}
local tab_bar_colors = {
  tab_bar = {
    -- The color of the inactive tab bar edge/divider
    inactive_tab_edge = '#737994', -- Overlay 0
    -- The active tab is the one that has focus in the window
    active_tab = {
      -- The color of the background area for the tab
      bg_color = '#1e1e2e', -- Base
      -- The color of the text for the tab
      fg_color = '#cdd6f4', -- Text
    },

    -- Inactive tabs are the tabs that do not have focus
    inactive_tab = {
      bg_color = '#11111b', -- Crust
      fg_color = '#7f849c', -- Overlay 1
    },
    -- You can configure some alternate styling when the mouse pointer
    -- moves over inactive tabs
    inactive_tab_hover = {
      bg_color = '#1e1e2e', -- Base
      fg_color = '#cdd6f4', -- Text
    },

    -- The new tab button that let you create new tabs
    new_tab = {
      bg_color = '#11111b', -- Crust
      fg_color = '#7f849c', -- Overlay 1
    },

    -- You can configure some alternate styling when the mouse pointer
    -- moves over the new tab button
    new_tab_hover = {
      bg_color = '#1e1e2e', -- Base
      fg_color = '#cdd6f4', -- Text
    },
  },
}
{{ else if eq .colorscheme "everforest-dark" }}
config.color_scheme = 'Everforest Dark Medium (Gogh)'
local window_frame_colors = {
  -- The overall background color of the tab bar when
  -- the window is focused
  active_titlebar_bg = '#232a2e', -- bg_dim
  -- The overall background color of the tab bar when
  -- the window is not focused
  inactive_titlebar_bg = '#232a2e', -- bg_dim
}
local tab_bar_colors = {
  tab_bar = {
    -- The color of the inactive tab bar edge/divider
    inactive_tab_edge = '#4f585e', -- bg4
    -- The active tab is the one that has focus in the window
    active_tab = {
      -- The color of the background area for the tab
      bg_color = '#2d353b', -- bg0
      -- The color of the text for the tab
      fg_color = '#d3c6aa', -- fg
    },

    -- Inactive tabs are the tabs that do not have focus
    inactive_tab = {
      bg_color = '#232a2e', -- bg_dim
      fg_color = '#56635f', -- bg5
    },
    -- You can configure some alternate styling when the mouse pointer
    -- moves over inactive tabs
    inactive_tab_hover = {
      bg_color = '#2d353b', -- bg0
      fg_color = '#d3c6aa', -- fg
    },

    -- The new tab button that let you create new tabs
    new_tab = {
      bg_color = '#232a2e', -- bg_dim
      fg_color = '#56635f', -- bg5
    },

    -- You can configure some alternate styling when the mouse pointer
    -- moves over the new tab button
    new_tab_hover = {
      bg_color = '#2d353b', -- bg0
      fg_color = '#d3c6aa', -- fg
    },
  },
}
{{ else if eq .colorscheme "gruvbox-dark" }}
config.color_scheme = 'GruvboxDark'
local window_frame_colors = {
  -- The overall background color of the tab bar when
  -- the window is focused
  active_titlebar_bg = '#1d2021', -- bg0_h
  -- The overall background color of the tab bar when
  -- the window is not focused
  inactive_titlebar_bg = '#1d2021', -- bg0_h
}
local tab_bar_colors = {
  tab_bar = {
    -- The color of the inactive tab bar edge/divider
    inactive_tab_edge = '#a89984', -- fg4
    -- The active tab is the one that has focus in the window
    active_tab = {
      -- The color of the background area for the tab
      bg_color = '#282828', -- bg0
      -- The color of the text for the tab
      fg_color = '#fbf1c7', -- fg0
    },

    -- Inactive tabs are the tabs that do not have focus
    inactive_tab = {
      bg_color = '#1d2021', -- bg0_h
      fg_color = '#bdae93', -- fg3
    },
    -- You can configure some alternate styling when the mouse pointer
    -- moves over inactive tabs
    inactive_tab_hover = {
      bg_color = '#282828', -- bg0
      fg_color = '#fbf1c7', -- fg0
    },

    -- The new tab button that let you create new tabs
    new_tab = {
      bg_color = '#1d2021', -- bg0_h
      fg_color = '#bdae93', -- fg3
    },

    -- You can configure some alternate styling when the mouse pointer
    -- moves over the new tab button
    new_tab_hover = {
      bg_color = '#282828', -- bg0
      fg_color = '#fbf1c7', -- fg0
    },
  },
}
{{ else if eq .colorscheme "rose-pine" }}
local theme = wezterm.plugin.require('https://github.com/neapsix/wezterm').main
local window_frame_colors = theme.window_frame()
local theme_colors = theme.colors()
{{ else if eq .colorscheme "rose-pine-moon" }}
local theme = wezterm.plugin.require('https://github.com/neapsix/wezterm').moon
local window_frame_colors = theme.window_frame()
local theme_colors = theme.colors()
{{ end }}

-- Tab Bar
-- config.tab_bar_at_bottom = true

-- Window
config.window_decorations = 'RESIZE'
local window_frame = {
	font = font_fallback_list,
	font_size = 10.0,
}
window_frame = window_frame_colors ~= nil and merge(window_frame, window_frame_colors) or window_frame
config.window_frame = window_frame
local colors = {
  tab_bar = {
    -- The active tab is the one that has focus in the window
    active_tab = {
      -- The color of the background area for the tab
      -- bg_color = tab_bar_colors.active_tab.bg_color,
      -- The color of the text for the tab
      -- fg_color = tab_bar_colors.active_tab.fg_color,

      -- Specify whether you want "Half", "Normal" or "Bold" intensity for the
      -- label shown for this tab.
      -- The default is "Normal"
      intensity = 'Bold',

      -- Specify whether you want "None", "Single" or "Double" underline for
      -- label shown for this tab.
      -- The default is "None"
      underline = 'None',

      -- Specify whether you want the text to be italic (true) or not (false)
      -- for this tab.  The default is false.
      italic = false,

      -- Specify whether you want the text to be rendered with strikethrough (true)
      -- or not for this tab.  The default is false.
      strikethrough = false,
    },

    -- Inactive tabs are the tabs that do not have focus
    inactive_tab = {
      -- bg_color = tab_bar_colors.inactive_tab.bg_color,
      -- fg_color = tab_bar_colors.inactive_tab.fg_color,

      -- The same options that were listed under the `active_tab` section above
      -- can also be used for `inactive_tab`.
    },

    -- You can configure some alternate styling when the mouse pointer
    -- moves over inactive tabs
    inactive_tab_hover = {
      -- bg_color = tab_bar_colors.inactive_tab_hover.bg_color,
      -- fg_color = tab_bar_colors.inactive_tab_hover.fg_color,
      italic = true,

      -- The same options that were listed under the `active_tab` section above
      -- can also be used for `inactive_tab_hover`.
    },

    -- The new tab button that let you create new tabs
    new_tab = {
      -- bg_color = tab_bar_colors.new_tab.bg_color,
      -- fg_color = tab_bar_colors.new_tab.fg_color,

      -- The same options that were listed under the `active_tab` section above
      -- can also be used for `new_tab`.
    },

    -- You can configure some alternate styling when the mouse pointer
    -- moves over the new tab button
    new_tab_hover = {
      -- bg_color = tab_bar_colors.new_tab_hover.bg_color,
      -- fg_color = tab_bar_colors.new_tab_hover.fg_color,
      italic = true,

      -- The same options that were listed under the `active_tab` section above
      -- can also be used for `new_tab_hover`.
    },
  }
}
colors = theme_colors ~= nil and merge(colors, theme_colors) or colors
colors = tab_bar_colors ~= nil and merge(colors, tab_bar_colors) or colors
config.colors = colors
config.window_padding = {
  left = '0.5cell',
  right = '0.5cell',
  top = '0.5cell',
  bottom = 0,
}

-- Fonts
config.font = font_fallback_list
config.font_size = 10.0
config.line_height = 1.0

-- Key Binding
config.keys = {
  -- Ctrl+Shift+T = New tab
  {
    key = 't',
    mods = 'CTRL|SHIFT',
    action = wezterm.action.SpawnTab 'CurrentPaneDomain',
  },
  -- Ctrl+Shift+W = Close tab
  -- Ctrl+Shift+X = Activate copy mode
  -- Ctrl+Shift+Space = Activate quick select mode
  -- Ctrl+Shift+[ = Navigate to the left tab
  {
    key = '{',
    mods = 'CTRL|SHIFT',
    action = wezterm.action.ActivateTabRelative(-1),
  },
  -- Ctrl+Shift+] = Navigate to the right tab
  {
    key = '}',
    mods = 'CTRL|SHIFT',
    action = wezterm.action.ActivateTabRelative(1),
  },
}

-- WezTerm reads ssh configuration
config.ssh_backend = 'Ssh2'

-- to match main monitor's refresh rate
config.max_fps = 240

-- and finally, return the configuration to wezterm
return config
