{{ if eq .colorscheme "catppuccin-frappe" }}
["catppuccin-frappe.yazi/flavor.toml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/yazi/main/themes/frappe/catppuccin-frappe-blue.toml"
    checksum.sha256 = "551d574f2401aede9e086815fe100d9287c99c434f1ba31096d4e01e201cc501"
["catppuccin-frappe.yazi/tmtheme.xml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/bat/main/themes/Catppuccin%20Frappe.tmTheme"
    checksum.sha256 = "3446d8a3cfb9eb559bc65a3894e6ae8f3579030fac6130c4f96ff524f3e2784f"
{{ else if eq .colorscheme "catppuccin-latte" }}
["catppuccin-latte.yazi/flavor.toml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/yazi/main/themes/latte/catppuccin-latte-blue.toml"
    checksum.sha256 = "77ee441f91cbf923941e073767bb5f79b7626c819391bada9bf41d34bd38a9dc"
["catppuccin-latte.yazi/tmtheme.xml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/bat/main/themes/Catppuccin%20Latte.tmTheme"
    checksum.sha256 = "a2ddb65bfcf7328802ee4770d1e34ef4093a20fd5c300be3138c99f8a45ed5cb"
{{ else if eq .colorscheme "catppuccin-macchiato" }}
["catppuccin-macchiato.yazi/flavor.toml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/yazi/main/themes/macchiato/catppuccin-macchiato-blue.toml"
    checksum.sha256 = "421f7248871c0f26c61f10b73327648eb44d8d18f324b3f7e750f65e9952eb2c"
["catppuccin-macchiato.yazi/tmtheme.xml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/bat/main/themes/Catppuccin%20Macchiato.tmTheme"
    checksum.sha256 = "110090f655b970e569d82fb3780c161769b59ba234c290d0039c1e8c49bb5a06"
{{ else if eq .colorscheme "catppuccin-mocha" }}
["catppuccin-mocha.yazi/flavor.toml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/yazi/main/themes/mocha/catppuccin-mocha-blue.toml"
    checksum.sha256 = "7bc55b3103611d06e814bb479970ee7dcd45beadec383760c1191e11c727ec8c"
["catppuccin-mocha.yazi/tmtheme.xml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/bat/main/themes/Catppuccin%20Mocha.tmTheme"
    checksum.sha256 = "395566f08ceb301b936b91c077690ef94f7aeb651b121553f201c99c2bd4aa77"
{{ else if eq .colorscheme "everforest-dark" }}
["everforest-dark.yazi/flavor.toml"]
    type = "file"
    url = "https://raw.githubusercontent.com/Chromium-3-Oxide/everforest-medium.yazi/main/flavor.toml"
    checksum.sha256 = "73016614f30f12537be950b3ed9c3da369117780526fe5400cf19d13e59ce5f3"
["everforest-dark.yazi/tmtheme.xml"]
    type = "file"
    url = "https://raw.githubusercontent.com/Chromium-3-Oxide/everforest-medium.yazi/main/tmtheme.xml"
    checksum.sha256 = "ade1ff57064dd81fedfeb2df44730d93fedf48752dfe7da803473ce3d0846471"
{{ else if eq .colorscheme "gruvbox-dark" }}
["gruvbox-dark.yazi/flavor.toml"]
    type = "file"
    url = "https://raw.githubusercontent.com/bennyyip/gruvbox-dark.yazi/main/flavor.toml"
    checksum.sha256 = "f0097295f307002be2465d7ea251c8c1d038ac7a720784013407d7b22f25e9c7"
["gruvbox-dark.yazi/tmtheme.xml"]
    type = "file"
    url = "https://raw.githubusercontent.com/bennyyip/gruvbox-dark.yazi/main/tmtheme.xml"
    checksum.sha256 = "7947f50a0f32f9fb0052b9d6e206857dff18ac877f736f0d2a866a97ff0df50b"
{{ end }}
