{{ if eq .colorscheme "catppuccin-frappe" }}
["catppuccin-frappe.yazi/flavor.toml"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_yazi_frappe_blue.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_yazi_frappe_blue.sha256 }}"
["catppuccin-frappe.yazi/tmtheme.xml"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_bat_frappe.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_bat_frappe.sha256 }}"
{{ else if eq .colorscheme "catppuccin-latte" }}
["catppuccin-latte.yazi/flavor.toml"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_yazi_latte_blue.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_yazi_latte_blue.sha256 }}"
["catppuccin-latte.yazi/tmtheme.xml"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_bat_latte.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_bat_latte.sha256 }}"
{{ else if eq .colorscheme "catppuccin-macchiato" }}
["catppuccin-macchiato.yazi/flavor.toml"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_yazi_macchiato_blue.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_yazi_macchiato_blue.sha256 }}"
["catppuccin-macchiato.yazi/tmtheme.xml"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_bat_macchiato.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_bat_macchiato.sha256 }}"
{{ else if eq .colorscheme "catppuccin-mocha" }}
["catppuccin-mocha.yazi/flavor.toml"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_yazi_mocha_blue.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_yazi_mocha_blue.sha256 }}"
["catppuccin-mocha.yazi/tmtheme.xml"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_bat_mocha.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_bat_mocha.sha256 }}"
{{ else if eq .colorscheme "everforest-dark" }}
["everforest-dark.yazi/flavor.toml"]
    type = "file"
    url = "{{ .external_resources.pins.yazi_everforest_medium_flavor.url }}"
    checksum.sha256 = "{{ .external_resources.pins.yazi_everforest_medium_flavor.sha256 }}"
["everforest-dark.yazi/tmtheme.xml"]
    type = "file"
    url = "{{ .external_resources.pins.yazi_everforest_medium_tmtheme.url }}"
    checksum.sha256 = "{{ .external_resources.pins.yazi_everforest_medium_tmtheme.sha256 }}"
{{ else if eq .colorscheme "gruvbox-dark" }}
["gruvbox-dark.yazi/flavor.toml"]
    type = "file"
    url = "{{ .external_resources.pins.yazi_gruvbox_dark_flavor.url }}"
    checksum.sha256 = "{{ .external_resources.pins.yazi_gruvbox_dark_flavor.sha256 }}"
["gruvbox-dark.yazi/tmtheme.xml"]
    type = "file"
    url = "{{ .external_resources.pins.yazi_gruvbox_dark_tmtheme.url }}"
    checksum.sha256 = "{{ .external_resources.pins.yazi_gruvbox_dark_tmtheme.sha256 }}"
{{ end }}
