{{ if eq .colorscheme "catppuccin-latte" }}
["catppuccin-latte-blue.yml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/lazygit/main/themes-mergable/latte/blue.yml"
    checksum.sha256 = "8fee6ce0f219021a496ac5c50ebdef9fcb7c4a10b95a75330903c90d599c198c"
{{ else if eq .colorscheme "catppuccin-frappe" }}
["catppuccin-frappe-blue.yml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/lazygit/main/themes-mergable/frappe/blue.yml"
    checksum.sha256 = "eac53a00643ed3e900757560082e4d569d97b296bfed0df7acbfc09e5a6c828d"
{{ else if eq .colorscheme "catppuccin-macchiato" }}
["catppuccin-macchiato-blue.yml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/lazygit/main/themes-mergable/macchiato/blue.yml"
    checksum.sha256 = "415cdc47dc1e38b41fafd4ee84578b8b2244e70f8bdaf13f0e35f16c7ab52852"
{{ else if eq .colorscheme "catppuccin-mocha" }}
["catppuccin-mocha-blue.yml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/lazygit/main/themes-mergable/mocha/blue.yml"
    checksum.sha256 = "9b6d55f1a17ef4010b83d095b61901de28f6d99f5634a7a066392708dd072c72"
{{ end }}
