{{ if eq .colorscheme "catppuccin-latte" }}
["catppuccin-latte-blue.yml"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_lazygit_latte_blue.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_lazygit_latte_blue.sha256 }}"
{{ else if eq .colorscheme "catppuccin-frappe" }}
["catppuccin-frappe-blue.yml"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_lazygit_frappe_blue.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_lazygit_frappe_blue.sha256 }}"
{{ else if eq .colorscheme "catppuccin-macchiato" }}
["catppuccin-macchiato-blue.yml"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_lazygit_macchiato_blue.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_lazygit_macchiato_blue.sha256 }}"
{{ else if eq .colorscheme "catppuccin-mocha" }}
["catppuccin-mocha-blue.yml"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_lazygit_mocha_blue.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_lazygit_mocha_blue.sha256 }}"
{{ end }}
