{{ if eq .colorscheme "catppuccin-latte" }}
["catppuccin-latte.ps1"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_fzf_latte.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_fzf_latte.sha256 }}"
{{ else if eq .colorscheme "catppuccin-frappe" }}
["catppuccin-frappe.ps1"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_fzf_frappe.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_fzf_frappe.sha256 }}"
{{ else if eq .colorscheme "catppuccin-macchiato" }}
["catppuccin-macchiato.ps1"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_fzf_macchiato.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_fzf_macchiato.sha256 }}"
{{ else if eq .colorscheme "catppuccin-mocha" }}
["catppuccin-mocha.ps1"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_fzf_mocha.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_fzf_mocha.sha256 }}"
{{ end }}
