"$schema" = "https://starship.rs/config-schema.json"

format = """
($directory )\
($git_branch ($git_status))\
($nix_shell )\
$fill\
( $cmd_duration)\
( $os)\
( $username)\
$hostname\
( $time)\
$line_break\
$character\
"""

{{ includeTemplate (printf "starship/%s.toml" .colorscheme) . }}

# modules to the left, remember to add an extra space to the right of them.
[directory]
format = "[$read_only]($read_only_style)[$path]($style)"
read_only = " "                                          # an extra space is appended because it would always has a space if we do it in directory.format
style = "fg:accent"
read_only_style = "fg:warning"
truncation_length = 3
truncation_symbol = ".../"
use_os_path_sep = true                                    # OS specific path separator. e.g. "\" for Windows
fish_style_pwd_dir_length = 1                             # "~/Dev/Nix/nixpkgs/pkgs" will be "~/D/N/nixpkgs/pkgs" instead of "nixpkgs/pkgs"

[git_branch]
symbol = " "
style = "fg:success"
format = "[$symbol $branch]($style)"

[git_status]
# parentheses make them conditional strings, so that we won't end up with an extra space
format = "($ahead_behind )($conflicted )($stashed )($deleted )($renamed )($modified )($typechanged )($staged )($untracked )"
# branch status ($ahead_behind)
ahead = "[⇡${count}](fg:green)"
behind = "[⇣${count}](fg:red)"
diverged = "[⇡${ahead_count}](fg:green)[⇣${behind_count}](fg:red)"
up_to_date = ""
# file status ($all_status)
conflicted = "[ ${count}](fg:yellow)"
untracked = "[ ${count}](fg:yellow)"
stashed = "[ ${count}](fg:yellow)"
modified = "[ ${count}](fg:yellow)"
staged = "[ ${count}](fg:green)"
renamed = "[ ${count}](fg:yellow)"
deleted = "[ ${count}](fg:red)"
typechanged = ""

[nix_shell]
format = "[$symbol  $state\\($name\\)]($style)" # "(" has to be escaped by "\(", so it becomes "\\(" in literal.
symbol = ""
style = "fg:accent"


# module that conencts the left part and the right part
[fill]
symbol = "·"
style = "fg:muted"


# modules to the right, remember to add an extra space to the left of them.
# status of the previous command, not enabled in global format because it hasn't been configured properly
[status]
disabled = false
format = "[$symbol$status]($style)"
symbol = "❌"
success_symbol = ""
not_executable_symbol = ""
not_found_symbol = "🔍"
sigint_symbol = ""
signal_symbol = ""

[cmd_duration]
min_time = 5000                    # 5s
format = "[  $duration]($style)"
style = "fg:warning_dim"

[os]
style = "fg:subtle"
format = "[$symbol]($style)"
disabled = false

# just the OSs I use
[os.symbols]
Windows = "󰍲 "
Macos = "󰀵 "
NixOS = " "

[username]
show_always = true
style_user = "fg:subtle"
style_root = "fg:error"
format = "[$user]($style)"

[hostname]
ssh_only = false
style = "fg:subtle"
format = "[@$hostname]($style)"

[time]
disabled = false
time_format = "%T"
style = "fg:info"
format = "[  $time]($style)"


# second line
[line_break]
disabled = false

# not enabled in global format
[shell]
disabled = false

[character]
disabled = false
success_symbol = "[❯](bold fg:success)"
error_symbol = "[❯](bold fg:error)"
vimcmd_symbol = "[❮](bold fg:success)"
vimcmd_replace_one_symbol = "[❮](bold fg:special)"
vimcmd_replace_symbol = "[❮](bold fg:special)"
vimcmd_visual_symbol = "[❮](bold fg:warning)"
