{{ if eq .colorscheme "catppuccin-latte" }}
["themes/Catppuccin Latte.tmTheme"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_bat_latte.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_bat_latte.sha256 }}"
{{ else if eq .colorscheme "catppuccin-frappe" }}
["themes/Catppuccin Frappe.tmTheme"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_bat_frappe.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_bat_frappe.sha256 }}"
{{ else if eq .colorscheme "catppuccin-macchiato" }}
["themes/Catppuccin Macchiato.tmTheme"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_bat_macchiato.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_bat_macchiato.sha256 }}"
{{ else if eq .colorscheme "catppuccin-mocha" }}
["themes/Catppuccin Mocha.tmTheme"]
    type = "file"
    url = "{{ .external_resources.pins.catppuccin_bat_mocha.url }}"
    checksum.sha256 = "{{ .external_resources.pins.catppuccin_bat_mocha.sha256 }}"
{{ end }}
